<div class="header">
  <h1>Texts Report Dashboard</h1>
</div>

<div class="flot">
  <div style="width:28em;height:28em;text-align:center;margin:0.7em">
    <div id="flot-placeholder1" style="width:100%;height:100%;"></div>
  </div>
</div>

<div class="flot">
  <div style="width:28em;height:28em;text-align:center;margin:0.7em">
    <div id="flot-placeholder2" style="width:100%;height:100%;"></div>
  </div>
</div>

<div class="flot">
  <div style="width:28em;height:28em;text-align:center;margin:0.7em">
    <div id="flot-placeholder3" style="width:100%;height:100%;"></div>
  </div>
</div>
