// Place all the styles related to the texts-report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
}

.header {
  text-align: center;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

th{
  text-align: left;
  background-color: black;
  color: white;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

.flot {
  /* For mobile phones: */
    width: 100%;
    float: left;
}

@media only screen and (min-width: 768px) {

  .flot {
      width: 33.33%;
  }

}
